@media screen and (min-width: 800px) {

    /************************************************************
    *
    *               header h1
    *
    ************************************************************/
    header h1{
        display: inline;
    }

    /************************************************************
    *
    *               Nav
    *
    ************************************************************/
    nav ul {
    display: flex;
    }
    nav ul li {
    flex: 1 1 100%;
    }

    /************************************************************
    *
    *               Main
    *
    ************************************************************/

    main{
    width: 80%;
    justify-content: center;
    margin-bottom: 20px;
    }

    /*** NAV RULES FOR BIG SIZE SCREEN ***/
    #menu {
    display: none; /* hide hamburger button */
    }

    .navigation {
    flex-direction: row;
    }

    .navigation li {
    display: block;
    flex: 1 1 100%;
    }


    /* HEROLABEL TEXT SIZE */
    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 2rem;
        font-family:"Great Vibes", serif;
    }

    /************************************************************
    *
    *               Footer
    *
    ************************************************************/

    footer {
    background-color: var(--secondary-color);
    padding: 0.5px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 0.4fr;
    row-gap: 20px;
    }

    #copyright{
    grid-column: 1/7;
    grid-row: 2;
    margin: auto;
    }

    #internal-links{
    margin-top: 15px;
    margin-left: 20px;
    grid-column: 1/3;
    grid-row: 1;
    }

    #social-media-links{
    grid-column: 3/5;
    grid-row: 1;
    margin: auto;
    }

    #weather-component{
    margin-top: 15px;
    margin-right: 20px;
    grid-column: 6/7;
    grid-row: 1;
    margin-bottom: 0px;
    }

    /************************************************************
    *
    *               HOME PAGE > COMPANY SPOTLIGHT SECTION
    *
    ************************************************************/

    #company-spotlights{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    /************************************************************
    *
    *               DISCOVER PAGE > MAIN
    *
    ************************************************************/

    #discover-container{
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 10px;
    }

    #discover-sidebar{
        grid-column: 1;
    }

    #discover-images{
        grid-column: 2;
    }

    #discover-images img{
        width: 700px;
    }

    #discover-images img:hover{
        box-shadow: 0 0 50px #333;
        border-radius: 150px 15px;
    }
}