@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Ubuntu+Mono&display=swap');

/************************************************************
*
*               Variables
*
************************************************************/
:root {
    /*colours based on https://coolors.co/palette/001524-15616d-ffecd1-ff7d00 */
    /*colour palette*/
    --primary-color: #001524;
    --secondary-color: #15616d;
    --accent1-color: #ffecd1;
    --accent2-color: #ff7d00;

    /*fonts imported and default generic ones to replace them if needed*/
    --heading-font: "Josefin Sans", sans-serif;
    --paragraph-font: "Ubuntu Mono", monospace;

    --text-color-on-white: #15616d;  /* headlines on a white background */ 
    --text-color-on-color: white; /* headlines on a colored background */ 
}

/************************************************************
*
*               Header
*
************************************************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, main {
	max-width: 767px;
	margin: 0 auto;
}

header {
	background-color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
    margin: auto;
}

header *{
    padding-inline: 5px; /*Enforce a slight separation between profile picture and h1*/
}

header img{
    width: 100px;
    filter: drop-shadow(0 0 0.09rem var(--accent1-color));
}

/************************************************************
*
*               Nav bar
*
************************************************************/

nav {
	background-color: var(--primary-color);
	margin: 0 auto;
	max-width: 800px;
}

nav ul {
	list-style-type: none;
}

nav a {
	display: block;
	text-decoration: none;
    font: var(--paragraph-font);
    color: var(--text-color-on-color);
	text-align: center;
	padding: 1rem;
}

nav a:hover {
	border: 1px solid #fff;
    background-color: var(--accent2-color);
}

/************************************************************
*
*               Main
*
************************************************************/

main{
    
}

main h2{
    text-decoration: underline;
    font: var(--heading-font);
}

