body {
	font-family: Roboto, Arial, sans-serif;
	margin: 1rem;
}

/* ---- RANGE METER ---- */

#r {
	width: 180px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 200px;
}

#rangevalues option {
	flex: 1 1 auto;
}

/* input[type=text], input[type=range], input[type=radio] { */
input[type=range] {
	margin: 1rem;
	padding: 0.5em;
}




