@media screen and (min-width: 767px) {

    /************************************************************
    *
    *               Header
    *
    ************************************************************/



    /************************************************************
    *
    *               Nav
    *
    ************************************************************/
    nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}

    /************************************************************
    *
    *               Main
    *
    ************************************************************/

    main{
        width: 80%;
        justify-content: center;
        margin-bottom: 20px;
    }

    /*** NAV RULES FOR BIG SIZE SCREEN ***/
    #menu {
        display: none; /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    /*** CARD RULES FOR BIG SCREEN ***/
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .card{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

}